<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title, 'Title:' %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, 'Body:' %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  
  <div>
    <%= form.label :picture, 'Attached picture:' %><br>
    <%= form.file_field :picture, accept: 'image/png,image/jpeg,image/gif' %>
  </div>

  <div>
    <%= form.label :category, 'Category:' %><br>
    <%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>

  <div>
    <%= form.label :status, 'Status:' %><br>
    <%= form.select :status, ['public', 'private'], selected: 'public' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
