<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles!

<%= form_with url: "/articles", method: :get do |form| %>
  <%= form.label :title, "Search for:" %>
  <%= form.text_field :title, :value => @search_text %>
  <span> | </span>
  <%= form.label :category_id, "Category:" %>
  <%= form.collection_select(:category_id,
    [Category.new(id: 0, name: 'All')] + Category.all,
    :id,
    :name,
    {:selected => @category_id})
  %>
  <%= form.submit "Search" %>
<% end %>

<div>
  <h2> Articles in <%= (@category == 'All' ? 'all categories' : '"' + @category + '" category') %> </h2>
</div>

<ul>
  <% @articles.each do |article| %>
    <% if article.status == 'public' %>
      <li>
        <%= link_to article.title, article %>
        <span> by <%= article.user.username %> </span>
      </li>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to "New Article", new_article_path %>
<% end %>

<%= paginate @articles, params: {action: 'index'} %>
