<div>
  <div>
    <h2 class="my-3" style="text-align: center"> Articles in <%= (@category == 'All' ? 'all categories' : '"' + @category + '" category') %> </h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-8">
    <% @articles.each do |article| %>
      <div class="card p-3 mb-3">
        <h3 class="card-title">
          <%= article.title %>
          <% if article.status == 'private' %>
            <i style="color: grey">(private)</i>
          <% end %>
        </h3>
        <h5 class="card-text text-muted"> by <%= article.user.username %></h5>
        <div class="card-body">
          <p class="card-text"><%= article.body %></p>

          <div style="background-color: #f4f4f4; border: 1px solid #dddddd; border-radius: 2px">
            <% if article.picture? %>
              <img src='<%= article.picture_url %>' class="card-img-bottom" style="height: 400px; object-fit: contain">
            <% end %>
          </div>
        </div>
        <div class="align-items-end" style="display: flex; justify-content: space-between">
          <div style="font-size: 14pt; color: grey"><%= pluralize(article.comments.count, "comment") %></div>
          <div>
          <%= link_to 'Read more ➤', article, class: "btn btn-dark btn-lg" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <%= paginate @articles, params: {action: 'index'} %>
</div>
