<div class="row justify-content-center mt-3">
  <div class="col-10">
    <div class="card">
      <% if @article.picture? %> 
        <%= image_tag @article.picture_url, class: "card-img-top", style: "height: 500px; object-fit: contain" %>
      <% end %>
      
      
      <div class="card-body">
        <h1 class="card-title"><%= @article.title %></h1>
        <h5 class="card-title">Author: <%= @article.user.username %></h5>
        <h5 class="card-title">Category: <%= @article.category.name %></h5>
        <p class="card-text"><%= @article.body %></p>

        <div class="d-flex justify-content-end">
          <% if user_signed_in? && current_user == @article.user %>
            <div><%= link_to "Edit", edit_article_path(@article), :class => "btn btn-secondary" %></div>
            <div><%= link_to "Remove", article_path(@article), :class => "btn btn-danger", :style => "margin-left: 5px",
                            method: :delete,
                            data: { confirm: "Are you sure?" } %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-10 justify-content-start">
    <div class="col-7">
      <h3>Comments</h3>
      <%= render @article.comments %>

      <% if user_signed_in? %>
        <%= render 'comments/form' %>
      <% end %>
    </div>
  </div>
</div>
